<h1>Enregistrer un chat : </h1>
<mat-card>
  <mat-card-title><mat-icon>assignment</mat-icon> Fiche </mat-card-title>
  <mat-grid-list cols="2" rowHeight="60px">
    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Nom : </mat-label>
        <input matInput placeholder="Saisissez le nom du chat" [value]="leChat.nom">
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Race : </mat-label>
        <mat-select>
          <mat-option *ngFor="let race of Races" [value]="leChat.race">
          {{ race }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Taille : </mat-label>
        <mat-select>
          <mat-option *ngFor="let taille of Tailles" [value]="leChat.taille">
          {{ taille }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Catégorie d age : </mat-label>
        <mat-select>
          <mat-option *ngFor="let cat of Cat_Age" [value]="leChat.categorieAge">
          {{ cat }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Sexe : </mat-label>
        <mat-select>
          <mat-option *ngFor="let sex of Sexes" [value]="leChat.sexe">
          {{ sex }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Pelage : </mat-label>
        <mat-select>
          <mat-option *ngFor="let pel of Pelages" [value]="leChat.pelage">
          {{ pel }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Caractère dominant : </mat-label>
        <mat-select>
          <mat-option *ngFor="let carac of Caracteres" [value]="leChat.caractere">
          {{ carac }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-form-field appearance="fill">
        <mat-label>Région : </mat-label>
        <mat-select>
          <mat-option *ngFor="let region of Regions" [value]="leChat.zoneGeo">
          {{ region }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

  </mat-grid-list>
</mat-card>
<br>
<mat-card>
  <mat-card-title><mat-icon>people</mat-icon> Sociabilité</mat-card-title>
  <mat-grid-list cols="3" rowHeight="30px">
    <mat-grid-tile>
        <div><mat-checkbox [checked]=leChat.sociableEnfant ><mat-icon>child_care</mat-icon> Adapté aux enfants </mat-checkbox></div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div><mat-checkbox [checked]=leChat.sociableChien >Accepte les chiens </mat-checkbox></div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div><mat-checkbox [checked]=leChat.sociableChat >Accepte les autres chats </mat-checkbox></div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<br>
<mat-card>
  <mat-card-title><mat-icon>event_note</mat-icon> Présentation</mat-card-title>
  <mat-form-field appearance="fill">
    <mat-label>Décrivez votre chat en quelques lignes</mat-label>
    <textarea matInput [value]=leChat.descriptif cdkTextareaAutosize
      cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" placeholder="Ex. Mon chat est...">
    </textarea>
  </mat-form-field>
  <mat-card-content>{{ leChat.descriptif }}</mat-card-content>
</mat-card>
<br>
<mat-card>
  <mat-card-title><mat-icon>photo</mat-icon>Liens vers photos</mat-card-title>
  <mat-form-field appearance="fill">
    <mat-label>Url : </mat-label>
    <input matInput placeholder="Saisissez l'url vers la photo" [(ngModel)]="addPhoto">
  </mat-form-field>
  <button mat-raised-button (click)="addUrlPhoto()" >Ajouter</button>
  <br>
  <span *ngFor="let photo of leChat.lstGetPhotoChatDto">
  <!--   <button md-fab class="image"
      [style.backgroundImage]="'url(' + photo.cheminPhoto + ')'" (click)="removeUrlPhoto(photo)"></button> -->
     <img src="{{ photo.cheminPhoto }}" (click)="removeUrlPhoto(photo)" height="100" title="Clic pour retirer l'url" alt="Photo ajoutée">
  </span>
</mat-card>
<button mat-raised-button (click)="createChat()" class="btn-valid">Enregistrer la fiche</button>
<br>
