<p>Ci-dessous la liste des suggestions de chat approprié à votre profil candidat. </p>

<div class="center">
    <div class="divSearch">
        <div>
            <button (click)="searchDisplay()" mat-icon-button color="primary">
                <mat-icon>search</mat-icon>
            </button>
        </div>

        <div *ngIf="displaySearch">
            <form (ngSubmit)="orderForm.valid && rechercheChats()" [formGroup]="orderForm" #myForm="ngForm">

                <mat-grid-list cols="2" rowHeight="60px">

                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Catégorie d age : </mat-label>
                            <mat-select formControlName="categorieAge">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let cat of Cat_Age" [value]="cat">
                                    {{ cat }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Pelage : </mat-label>
                            <mat-select formControlName="pelage">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let pel of Pelages" [value]="pel">
                                    {{ pel }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Race : </mat-label>
                            <mat-select formControlName="race">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let race of Races" [value]="race">
                                    {{ race }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Sexe : </mat-label>
                            <mat-select formControlName="sexe">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let sex of Sexes" [value]="sex">
                                    {{ sex }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile>
                        <mat-form-field appearance="fill">
                            <mat-label>Region : </mat-label>
                            <mat-select formControlName="zoneGeo">
                                <mat-option value=""></mat-option>
                                <mat-option *ngFor="let region of Regions" [value]="region">
                                    {{ region }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                </mat-grid-list>
                <div class="center">
                    <button mat-stroked-button color="primary" type="submit">Lancer la recherche</button>
                </div>
            </form>
        </div>
    </div>

    <ng-template *ngIf="listeChatLight.length>0;then afficherLesChats else pasDeChat"> </ng-template>

    <ng-template #afficherLesChats>
        <div *ngFor="let chatLight of listeChatLight" class="catLight">
            <app-chat-light [chat]="chatLight"></app-chat-light>
        </div>
    </ng-template>

    <ng-template #pasDeChat>
        <h1> Il n'y a pas de chat avec les critères choisis. </h1>
    </ng-template>
</div>

<!-- <app-liste-chat-light [filterDto]="filterDto" ></app-liste-chat-light> -->