<!-- <p>candidat works!</p> -->

<form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="createCandidatForm" #myForm="ngForm">
  <div>
    Form submitted ? {{myForm.submitted}}
    Form valid ? {{createCandidatForm.valid}}
    Form invalid ? {{createCandidatForm.valid}}
  </div>
  <mat-card-content>

    <!-- <label>type Hebergement</label> -->
    <mat-form-field appearance="fill">
      <mat-label>type Hebergement</mat-label>
      <mat-select formControlName="typeHebergement" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let hebergement of typeHebergement" [value]="hebergement">
          {{hebergement.name}}
        </mat-option>
      </mat-select>
      <!-- <mat-error *ngIf="createCandidatForm.hasError('required')">Please choose an animal</mat-error> -->
      <!-- <mat-hint>{{hebergement.value?.sound}}</mat-hint> -->
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>surface</mat-label>
      <input matInput type="number" placeholder="Ex. 49" formControlName="surfaceHebergement">
      <span matSuffix>m²</span>
      <!-- <mat-error *ngIf="surfaceHebergement.invalid">Min size: 10px</mat-error> -->
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" formControlName="presenceJardin">
      <mat-label>Jardin : </mat-label>
      <mat-radio-button color="primary" value="1">Oui</mat-radio-button>
      <mat-radio-button color="primary" value="2">Non</mat-radio-button>
    </mat-radio-group>
    <div></div>

    <mat-radio-group aria-label="Select an option" formControlName="sociableChat">
      <mat-label>Autre(s) chat(s) : </mat-label>
      <mat-radio-button color="primary" value="1">Oui</mat-radio-button>
      <mat-radio-button color="primary" value="2">Non</mat-radio-button>
    </mat-radio-group>
    <div></div>

    <mat-radio-group aria-label="Select an option" formControlName="sociableChien">
      <mat-label>Chien(s) : </mat-label>
      <mat-radio-button color="primary" value="1">Oui</mat-radio-button>
      <mat-radio-button color="primary" value="2">Non</mat-radio-button>
    </mat-radio-group>
    <div></div>

    <mat-form-field appearance="fill">
      <mat-label>Âge du plus jeune enfant</mat-label>
      <input matInput type="number" placeholder="Ex. 12" min="0" max="99">
      <span matSuffix>ans</span>
      <mat-hint>laisser vide si pas d'enfant</mat-hint>
      <!-- <mat-error *ngIf="surfaceHebergement.invalid">Min size: 10px</mat-error> -->
    </mat-form-field>

</mat-card-content>
</form>
