<mat-toolbar color="primary">
<div class="title">Chat'Don
    <br>
    <img src="#"></div>

<div class="header"></div>
<div *ngIf="isVisiteur">
  <a mat-raised-button color="warn" (click)="showLogin()">Se connecter</a>
  <a mat-button >Créer un compte</a>
  <div *ngIf="whileLogin">
    <input [(ngModel)]="nom" >
    <input type="password" [(ngModel)]="pass" >
    <button mat-raised-button (click)="login()">Valider</button>
  </div>
</div>
<div *ngIf="!isVisiteur">
  <button mat-raised-button (click)="logout()">Se déconnecter</button>
</div>

</mat-toolbar>
