<form class="form-container" [formGroup]="createDonateurForm" #myForm="ngForm">
  <div>
    Form submitted ? {{myForm.submitted}}
    Form valid ? {{createDonateurForm.valid}}
    Form invalid ? {{createDonateurForm.valid}}
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title> Mon compte</mat-card-title>
    </mat-card-header>

    <mat-card-content>
       <mat-card-title-group>
          <mat-form-field appearance="fill">
            <mat-label> Nom : </mat-label>
            <input matInput placeholder="Nom" type="text" formControlName="nom" />
            <mat-icon matSuffix color="primary">account_box</mat-icon>

            </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> Prenom : </mat-label>
            <input matInput type="text" placeholder="Prénom" formControlName="prenom" />
            <mat-icon matSuffix color="primary">account_box</mat-icon>
          </mat-form-field>
      </mat-card-title-group>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="james.bond@example.com" formControlName="mail">
        <mat-icon matSuffix color="primary">email</mat-icon>
       <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Numéro de télpéhone</mat-label>
        <input matInput type="number" placeholder="uméro de télpéhone" formControlName="telephone">
        <mat-icon matSuffix color="primary">phone</mat-icon>
        <mat-hint>Include area code</mat-hint>
      </mat-form-field>
      <span></span>
      <mat-card-title-group formGroupName="adresseDTO">
          <mat-form-field appearance="fill">
            <mat-label>Rue</mat-label>
            <input matInput type="text" placeholder="N° et nom de rue" formControlName="rue">
            <mat-icon matSuffix color="primary">home</mat-icon>
            <mat-hint>Include area code</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Code postal</mat-label>
            <input matInput type="text" placeholder="Code postal" formControlName="codePostal">
            <mat-icon matSuffix color="primary">home</mat-icon>
            <mat-hint>Include area code</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Ville</mat-label>
            <input matInput type="text" placeholder="Ville" formControlName="ville">
            <mat-icon matSuffix color="primary">home</mat-icon>
            <mat-hint>Include area code</mat-hint>
          </mat-form-field>
      </mat-card-title-group>

      <mat-form-field appearance="fill">
        <mat-label>Entrer votre mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="motDePasse1">
        <button mat-icon-button matSuffix color="primary" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmer votre mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="motDePasse2">
        <button mat-icon-button matSuffix color="primary" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-radio-group aria-label="Select an option" [formControl]="radioFormControl">
        <mat-radio-button color="primary" value="1">Donateur</mat-radio-button>
        <mat-radio-button color="primary" value="2">Candidat</mat-radio-button>
      </mat-radio-group>

      <app-candidat *ngIf="radioFormControl.value == 2"></app-candidat>

      <mat-card-actions appearance="fill">
          <button mat-stroked-button color="primary" type="submit" (click)="addUpdateProfil()"> Enregistrer </button>
          <button mat-stroked-button color="primary" type="submit" (click)="deleteUtilisateur()"> Supprimer</button>
          <button mat-stroked-button color="primary" type="submit" (click)="getIdConnected()"> Consulter</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>


