<form class="form-container" [formGroup]="createDonateurForm" (ngSubmit)="addProfil()" #myForm="ngForm">
  <div>
    Form submitted ? {{myForm.submitted}}
    Form valid ? {{createDonateurForm.valid}}
    Form invalid ? {{createDonateurForm.valid}}
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title> Creation profil</mat-card-title>
    </mat-card-header>

    <mat-card-content>
       <mat-card-title-group>
            <mat-form-field appearance="fill">
              <mat-label> Nom : </mat-label>
              <input matInput placeholder="Nom" type="text" formControlName="nom" />
              <mat-icon matSuffix color="primary">account_box</mat-icon>
            </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label> Prenom : </mat-label>
            <input matInput type="text" placeholder="Prenom" formControlName="prenom" />
            <mat-icon matSuffix color="primary">account_box</mat-icon>
          </mat-form-field>
      </mat-card-title-group>

      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput type="text" placeholder="pat@example.com" formControlName="mail">
        <mat-icon matSuffix color="primary">email</mat-icon>
       <!--<mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>-->
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone number</mat-label>
        <input matInput type="text" placeholder="num de telephone" formControlName="telephone">
        <mat-icon matSuffix color="primary">phone</mat-icon>
        <mat-hint>Include area code</mat-hint>
      </mat-form-field>
    <span></span>
    <mat-card-title-group>
        <mat-form-field appearance="fill">
          <mat-label>Adresse</mat-label>
          <input matInput type="text" placeholder="num de rue" formControlName="rue">
          <mat-icon matSuffix color="primary">home</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Code postal</mat-label>
          <input matInput type="text" placeholder="Code postal" formControlName="codePostal">
          <mat-icon matSuffix color="primary">home</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <input matInput type="text" placeholder="City" formControlName="ville">
          <mat-icon matSuffix color="primary">home</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
      </mat-card-title-group>

      <mat-form-field appearance="fill">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="motDePasse1">
        <button mat-icon-button matSuffix color="primary" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="motDePasse2">
        <button mat-icon-button matSuffix color="primary" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-radio-group aria-label="Select an option" [formControl]="radioFormControl">
        <mat-radio-button color="primary" value="1">Donateur</mat-radio-button>
        <mat-radio-button color="primary" value="2">Candidat</mat-radio-button>
      </mat-radio-group>

      <app-candidat *ngIf="radioFormControl.value == 2"></app-candidat>

      <mat-card-actions appearance="fill">
          <button mat-stroked-button color="primary" type="submit"> submit</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
