<h1><img src="assets/icone_chat.png" height=18> {{ leChat.nom }}</h1>
   <div class="center-div">
    <p align="center">
      <mat-carousel
        timings="750ms ease-in"
        [autoplay]="true"
        [interval]="4000"
        color="primary"
        maxWidth="40%"
        [proportion]="60"
        [slides]="5"
        [loop]="true"
        [hideArrows]="false"
        [hideIndicators]="false"
        [useKeyboard]="true"
        [useMouseWheel]="false"
        orientation="ltr"
      >
      <mat-carousel-slide
      #matCarouselSlide
      *ngFor="let photos of leChat.lstPhotos; let i = index"
      [image]="photos.cheminPhoto"
      overlayColor="#f000040"
      [hideOverlay]="false"
      ></mat-carousel-slide>
    </mat-carousel>
    </p>
  </div>
<mat-card>
  <mat-card-title><mat-icon>assignment</mat-icon> Fiche de {{ leChat.nom }}</mat-card-title>
  <mat-grid-list cols="2" rowHeight="30px">
    <mat-grid-tile>
      <mat-card-content><span class="intitule">Catégorie d age : </span><span class="contenu"> {{ leChat.categorieAge }}</span></mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content><span class="intitule">Race : </span><span class="contenu">{{ leChat.race }}</span></mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content><span class="intitule">Sexe : </span><span class="contenu">{{ leChat.sexe }}</span></mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content><span class="intitule">Taille : </span><span class="contenu">{{ leChat.taille }}</span></mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content><span class="intitule">Pelage : </span><span class="contenu">{{ leChat.pelage }}</span></mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content><span class="intitule">Caractère : </span><span class="contenu">{{ leChat.caractere }}</span></mat-card-content>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card-content><span class="intitule">Zone géographique : </span><span class="contenu">{{ leChat.zoneGeo }}</span></mat-card-content>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<br>
<mat-card>
  <mat-card-title><mat-icon>people</mat-icon> Sociabilité</mat-card-title>
  <mat-grid-list cols="3" rowHeight="30px">
    <mat-grid-tile>
        <div><mat-checkbox color="primary" [checked]=leChat.sociableEnfant disabled ><mat-icon>child_care</mat-icon> Adapté aux enfants </mat-checkbox></div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div><mat-checkbox color="primary" [checked]=leChat.sociableChien disabled >Accepte les chiens </mat-checkbox></div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div><mat-checkbox color="primary" [checked]=leChat.sociableChat disabled >Accepte les autres chats </mat-checkbox></div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
<br>
<mat-card>
  <mat-card-title><mat-icon>event_note</mat-icon> Présentation</mat-card-title>
  <mat-grid-list cols="4" rowHeight="150px">
    <mat-grid-tile  *ngFor="let photos of leChat.lstPhotos">
      <img mat-card-image src="{{photos.cheminPhoto}}" height="145" >
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card-content>{{ leChat.descriptif }}</mat-card-content>
</mat-card>
<br>

<mat-toolbar color="primary">
  <span class="fill-space"></span>
  <span>
    <a [routerLink]="['/']"><button mat-raised-button>Retour</button></a>
  </span>
  <span *ngIf="isDonateurDuChat">
    <button mat-raised-button color="warn" (click)="editChat()">Editer la fiche</button>
  </span>
</mat-toolbar>
