
h1 {
  font-size: 250%;
  line-height: 200%;
  color:purple;
  font-weight: bold;
  font-family: "Trebuchet MS", "Arial Black", Arial, Verdana, sans-serif;
}

.center-div {
  margin: 0 auto;
  width: 80%;
}

mat-toolbar {
  flex: auto 1 1;
}

mat-card {
  margin: 5;
}

mat-card-title {
  margin: 15px;
  line-height: 150%;
}

body {
  margin: 5;
}

button {
  margin-left: 3px;
  margin-right: 3px;
  float: right;
}

mat-form-field {
  width: 90%;
}

.fill-space {
  flex: 1 1 auto;
}

mat-card {
  width: 95%;
  margin: 10px;
}

.intitule {
  color:blueviolet;
  font-size: medium;
}

.contenu {
  color:purple;
  font-size: medium;
  font-weight: bold;
}

.mat-stroked-button {
  background-color: #ffffff;
}
